<%- include('../partials/header.ejs')%>

    <link rel="stylesheet" href="../css/style.css">

    <div class="content">

        <main class="container-fluid justify-content-center align-items-center my-4">
            <div class="p-5 bg-light rounded shadow">
                <form action='/events/<%= event._id%>?_method=PUT' enctype="multipart/form-data" method='POST'>

                    <div class="row mb-3 align-items-center">
                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-12 col-md-6">
                            <select id="category" name="category" class="form-select" value=<%=event.category%>>
                                <option selected disabled>Select a category</option>
                                <% if(event.category==='anxiety' ) { %>
                                    <option value="anxiety" selected="selected">Anxiety</option>
                                    <% }else{ %>
                                        <option value="anxiety">Anxiety</option>
                                        <%}%>

                                            <% if(event.category==='depression' ) { %>
                                                <option value="depression" selected="selected">Depression</option>
                                                <% }else{ %>
                                                    <option value="depression">Depression</option>
                                                    <%}%>

                                                        <% if(event.category==='trauma' ) { %>
                                                            <option value="trauma" selected="selected">Trauma
                                                            </option>
                                                            <% }else{ %>
                                                                <option value="trauma">Trauma</option>
                                                                <%}%>

                                                                    <% if(event.category==='forex' ) { %>
                                                                        <option value="forex" selected="selected">ForEx
                                                                        </option>
                                                                        <% }else{ %>
                                                                            <option value="forex">ForEx</option>
                                                                            <%}%>

                                                                                <% if(event.category==='futures' ) { %>
                                                                                    <option value="futures"
                                                                                        selected="selected">Futures
                                                                                    </option>
                                                                                    <% }else{ %>
                                                                                        <option value="futures">Futures
                                                                                        </option>
                                                                                        <%}%>

                            </select>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title"
                                value="<%=event.title%>" required>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="detail" class="col-sm-2 col-form-label">Detail</label>
                        <div class="col-12 col-md-6">
                            <textarea class="form-control" id="detail" name="detail" rows="3"
                                placeholder="Brief event detail" required><%=event.detail%></textarea>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="location" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="location" name="location" placeholder="Location"
                                value="<%=event.title%>" required>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                        <div class="col-12 col-md-6">
                            <input type="datetime-local" class="form-control" id="startDate" name="startDate"
                                value="<%=event.startDate%>" required>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
                        <div class="col-12 col-md-6">
                            <input type="datetime-local" class="form-control" id="endDate" name="endDate"
                                value="<%=event.endDate%>" required>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="image" class="col-sm-2 col-form-label">Event Image</label>
                        <div class="col-12 col-md-6">
                            <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="offset-sm-2 col-12 col-md-6">
                            <button type="submit" class="btn btn-primary w-100" value="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

    </div>
    <%- include('../partials/footer.ejs')%>